<a href="https://colab.research.google.com/github/mursyiedqathafi/dataenginner-DTSKOMINFO-career-track/blob/circleci-project-setup/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
retail_data1 = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/10%25_original_randomstate%3D42/retail_data_from_1_until_3_reduce.csv')
retail_data2 = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/10%25_original_randomstate%3D42/retail_data_from_4_until_6_reduce.csv')
retail_data3 = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/10%25_original_randomstate%3D42/retail_data_from_7_until_9_reduce.csv')
retail_data4 = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/10%25_original_randomstate%3D42/retail_data_from_10_until_12_reduce.csv')

# [2]. Pengecekan Data
print('PENGECEKAN DATA\n\n')
#      Cek data sekilas (tampilkan 5 baris teratas)
print(retail_data1.head())
#      Cek list kolom untuk semua dataframe
print('Kolom retail_data1: %s' %retail_data1.columns)
print('Kolom retail_data2: %s' %retail_data2.columns)
print('Kolom retail_data3: %s' %retail_data3.columns)
print('Kolom retail_data4: %s' %retail_data4.columns)
#      Concat multiple dataframe menjadi 1 dataframe
retail_table = pd.concat([retail_data1,retail_data2, retail_data3, retail_data4])
print('\nJumlah baris:', retail_table.shape[0])
#      Pengecekan dataframe info
print('\nInfo:')
print(retail_table.info())
#      Pengecekan statistik deskriptif
print('\nStatistik deskriptif:\n', retail_table.describe())

PENGECEKAN DATA


   order_id order_date  customer_id       city     province product_id  \
0   1612885   01-01-19        16293     Malang   Jawa Timur      P1301
1   1612387   01-01-19        17228      Bogor   Jawa Barat      P2086
2   1612903   01-01-19        16775  Surakarta  Jawa Tengah      P1656
3   1612963   01-01-19            0    unknown      unknown      P3127
4   1612915   01-01-19            0    unknown      unknown      P1230

     brand  quantity  item_price  total_price
0  BRAND_F         6      747000      4482000
1  BRAND_L         4      590000      2360000
2  BRAND_G         3     1325000      3975000
3  BRAND_S         1     1045000      1045000
4  BRAND_E         1     -891000       891000
Kolom retail_data1: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price', 'total_price'],
      dtype='object')
Kolom retail_data2: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price', 'total_price'],
      dtype='object')
Kolom retail_data3: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price', 'total_price'],
      dtype='object')
Kolom retail_data4: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price', 'total_price'],
      dtype='object')

Jumlah baris: 50856

Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50856 entries, 0 to 20182
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     50856 non-null  object
 1   order_date   50856 non-null  object
 2   customer_id  50856 non-null  int64
 3   city         50856 non-null  object
 4   province     50856 non-null  object
 5   product_id   50856 non-null  object
 6   brand        50856 non-null  object
 7   quantity     50856 non-null  int64
 8   item_price   50856 non-null  int64
 9   total_price  50856 non-null  int64
dtypes: int64(4), object(6)
memory usage: 4.3+ MB
None

Statistik deskriptif:
         customer_id      quantity    item_price   total_price
count  50856.000000  50856.000000  5.085600e+04  5.085600e+04
mean   11516.434993     10.504680  1.345225e+06  7.020933e+06
std     6762.130438     41.966574  7.306866e+06  2.689227e+07
min        0.000000      1.000000 -8.910000e+05 -8.910000e+05
25%    12370.000000      1.000000  4.500000e+05  1.356000e+06
50%    14378.000000      4.000000  7.400000e+05  3.536000e+06
75%    16284.000000     11.000000  1.458000e+06  6.270000e+06
max    18287.000000   3114.000000  7.399120e+08  2.326158e+09

Append